# .env.example
# Copy this file to .env before running docker compose

POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=chessdb
DB_URL="postgres://test:test@postgres:5432/chessdb?sslmode=disable"

AMQP_SERVER_URL="amqp://guest:guest@rabbitmq:5672/"
REDIS_URL="redis:6379"
OTEL_EXPORTER_OTLP_ENDPOINT="http://jaeger:4318"